
<table class="table table-striped" id='clients_table'>
  <thead>
    <tr>
      <th>Factura</th>
      <th class ="cabeceras">Valor Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @total_invoices.each do |total_invoice| %>

   
    <tr data-id= <%= total_invoice.id%>>
      
        <td><%= total_invoice.number %></td>
        <td><%= total_invoice.total_value %></td>
     
      
      <td>
         
      <button data-id= <%= total_invoice.id%> type="button" class="btn btn-default select" aria-label="Left Align">
        <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span></button>

         </td>

      

     
    </tr>
    <% end %>
  </tbody>
</table>
<%#= will_paginate @total_invoices, renderer: BootstrapPagination::Rails %>

<%#= will_paginate @total_invoices , {:remote => true}%>