<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @departure_type.name %>
</p>

<%= link_to 'Edit', edit_departure_type_path(@departure_type) %> |
<%= link_to 'Back', departure_types_path %>
