#page {
    margin-left: 200px;
}
.panel-departures {
    float: right;
    width: 50%;

	padding-right: 10px;
	padding-left: 10px;
    
}
.panel-entries{
    float: left;
    width: 50%;

	padding-right: 10px;
	padding-left: 10px;
   
    
}
#clearingdiv {
    clear: both;
}

.valores-dinero{
	text-align: right;
}